@model IEnumerable<Paciente>

<h2>Lista de Pacientes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Sexo</th>
            <th>Fecha de Nacimiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model)
        {
            <tr>
                <td>@paciente.NroIdentificacion</td>
                <td>@paciente.Nombre</td>
                <td>@paciente.PrimerApellido @paciente.SegundoApellido</td>
                <td>@paciente.Sexo</td>
                <td>@paciente.FechaNacimiento?.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
